:root {
  --green: rgb(51, 153, 51);
  --purple: #6236bd;
  --gray1: #f5f5f5;
  --gray2: #e7e7e7;
  --light-green: #cddecd;
  --light-green2: #deefde;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-green {
  color: var(--green);
}
.bg-l-green {
  background-color: var(--light-green);
}
.bg-l-green2 {
  background-color: var(--light-green2);
}
.bg-gray {
  background-color: var(--gray1) !important;
}
.bg-gray2 {
  background-color: var(--gray2) !important;
}
.border-dark {
  border-color: black !important;
}
p {
  margin: 0;
  padding: 0;
}

.main-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  width: 100%;

  & .left {
    & img {
      width: 208px;
    }
  }
  & .right {
    background-color: var(--green);
    width: 100%;
    height: 66px;

    @media (max-width: 500px) {
      height: auto;
    }

    & .menu {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      background-color: var(--green);

      & li {
        width: calc(100% / 8);
        @media (max-width: 500px) {
          width: calc(100% / 2);
        }

        &:first-of-type a {
          border-top-left-radius: 100%;
          @media (max-width: 500px) {
            border-top-left-radius: 0%;
          }
        }
      }

      & a {
        background-color: var(--purple);
        color: white;
        padding: 2px 15px;
        font-size: 12px;
        width: 100%;
        display: block;
        text-align: center;

        &:hover {
          background-color: var(--green);
        }
      }
    }
  }
}

.cat-list {
  & li {
    background-color: var(--gray1);
    font-weight: bold;

    & ul {
      /* list-style-position: inside; */

      & li {
        font-weight: normal;
        background-color: var(--gray2);
        padding-left: 15px;

        &:hover {
          background-color: var(--gray1);
        }
      }
    }
  }
}
.middle-links {
  background-color: var(--light-green);
  padding: 10px;
  max-height: 800px;
  overflow-y: scroll;
  border: 1px solid black;
  & .top * {
    color: var(--green);
  }
}

.middle-content {
  padding: 10px;
  background-color: var(--light-green);
  margin-top: 15px;
  border: 1px solid black;
}

.features {
  background-color: var(--light-green);
  padding: 10px;
  border: 1px solid black;
}

footer {
  & * {
    color: var(--green);
  }
}
