:root {
    --green: rgb(51, 153, 51);
    --purple: #6236bd;
    --gray1: #f5f5f5;
    --gray2: #e7e7e7;
    --light-green: #cddecd;
    --light-green2: #deefde;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-green {
    color: var(--green);
}
.bg-green {
    background-color: var(--green);
}
.bg-l-green {
    background-color: var(--light-green);
}
.bg-l-green2 {
    background-color: var(--light-green2);
}
.bg-gray {
    background-color: var(--gray1) !important;
}
.bg-gray2 {
    background-color: var(--gray2) !important;
}
.border-dark {
    border-color: black !important;
}
p {
    margin: 0;
    padding: 0;
}

.main-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.cat-list {
    & li {
        background-color: var(--gray1);
        font-weight: bold;

        & ul {
            /* list-style-position: inside; */

            & li {
                font-weight: normal;
                background-color: var(--gray2);
                padding-left: 15px;

                &:hover {
                    background-color: var(--gray1);
                }
            }
        }
    }
}

.middle-links {
    & .clock {
        line-height: 1.2;
    }
    .radio-group {
        display: flex;
        gap: 0px;
        background: #eaf2e1;
        padding: 5px;
        border-radius: 1px;

        & input {
            display: none;
        }
        & label {
            padding: 3px 12px;
            border-radius: 1px;
            cursor: pointer;
            font-weight: bold;
            color: black;
            transition: background 0.3s ease;
        }

        & input:checked + label {
            background: #28a745;
            color: white;
        }
    }
}

.loader {
    display: none;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20;
        width: 50%;
        height: 60%;
        background: linear-gradient(90deg, #ddd 25%, #e5e5e5 50%, #ddd 75%);
        background-size: 200% 100%;
        animation: skeleton-loading 1.5s infinite;
    }
}
@keyframes skeleton-loading {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

nav {
    & .row {
        height: 55%;
    }
}
